{% load bootstrap4 %}
{% load static %}
<DOCTYPE3 html>
    <html lang="pt-br">
        <head>
            <meta charset="UTF-8">
            <title>
                Página Principal
            </title>
            {% bootstrap_css %}
            <link rel="stylesheet" href="{% static 'css/style.css' %}">

        </head>
        <body>
            <header>
                <nav id="professors" class="navbar navbar-dark bg-primary">
                    <a class="navbar-brand" href="{% url 'index.html' %}">Home Page</a>
                    <a class="navbar-brand" href="{% url 'enrollments.html' %}">Enrollments</a>
                    <a class="navbar-brand" href="{% url 'registrations.html' %}">Registrations</a>
                    <a class="navbar-brand" href="{% url 'grades-menu.html' %}">Grades</a>
                    <a class="navbar-brand" href="{% url 'contact.html' %}">Contact</a>
                </nav>
            </header>
            
            <h1 class="page-describer">
                Where do you desire to go?
            </h1>

            <!-- professors card -->
            
            <div id="cards" class="card-columns">

                <div id="each-card" class="card" style="width: 18rem;">
                    <img class="card-img-top" src="./../static/images/subscription.png" alt="Card image cap">
                    <div class="card-body">
                    <center>
                        <h5 class="card-title">Subjects Enrollments</h5>
                        <p class="card-text">Manage which students go to which class</p>
                        <a href="{% url 'subscriptions-menu.html' %}" class="btn btn-primary">Go</a>
                    </center>
                    </div>
                </div>

            <!-- students card -->

                <div id="each-card" class="card" style="width: 18rem;">
                    <img class="card-img-top" src="./../static/images/student-parent.jpeg" alt="Card image cap">
                    <div class="card-body">
                    <center>
                        <h5 class="card-title">Students-Parents Enrollments</h5>
                        <p class="card-text">Manage which guardians are responsible for which student</p>
                        <a href="{% url 'student-guardian-menu.html' %}" class="btn btn-primary">Go</a>
                    </center>
                    </div>
                </div>

            </div>
                
            {% bootstrap_javascript jquery='full' %}

        </body>
    </html>
</DOCTYPE3>