{% load bootstrap4 %}
{% load static %}
<DOCTYPE3 html>
    <html lang="en-us">
        <head>
            <meta charset="UTF-8">
            <title>
                Subject Selection
            </title>
            {% bootstrap_css %}
            <link rel="stylesheet" href="{% static 'css/style.css' %}">

        </head>
        <body>
            <header>
                <nav id="professors" class="navbar navbar-dark bg-primary">
                    <a class="navbar-brand" href="{% url 'index.html' %}">Home Page</a>
                    <a class="navbar-brand" href="{% url 'enrollments.html' %}">Enrollments</a>
                    <a class="navbar-brand" href="{% url 'registrations.html' %}">Registrations</a>
                    <a class="navbar-brand" href="{% url 'grades-menu.html' %}">Grades</a>
                    <a class="navbar-brand" href="{% url 'contact.html' %}">Contact</a>
                </nav>
            </header>
            
            <h1 class="page-describer">
                Choose which subject you wish to assign grades
            </h1>

            <!-- subjects cards being displayed in real time by a python for loop -->
            <div class="subject_shower">
                <div class="row">

                    {% for subject in subjects %}
                    
                        <div class="card-columns" style="width: 45rem;">
                            <img class="card-img-top" src="{% static 'images/professor-default-picture.jpg' %}" alt="Card image cap">
                            <div class="card-body">
                            <a href="{% url 'index.html' %}">
                            <p class="card-text"> <b>Subject:</b> {{ subject.subject_name }} <br><br> {{ subject.professor_id }} <br><br> <b>Year:</b> {{ subject.year }}</p>
                            </a>
                            </div>
                        </div>
                    
                    {% endfor %}

                </div>
            </div>
                
            {% bootstrap_javascript jquery='full' %}

        </body>
    </html>
</DOCTYPE3>