{% load bootstrap4 %}
{% load static %}
<DOCTYPE3 html>
    <html lang="en-us">
        <head>
            <meta charset="UTF-8">
            <title>
                Subject Selection
            </title>
            {% bootstrap_css %}
            <link rel="stylesheet" href="{% static 'css/style.css' %}">

        </head>
        <body>
            <header>
                <nav id="professors" class="navbar navbar-dark bg-primary">
                    <a class="navbar-brand" href="{% url 'index.html' %}">Home Page</a>
                    <a class="navbar-brand" href="{% url 'registrations.html' %}">Registrations</a>
                    <a class="navbar-brand" href="{% url 'grades-menu.html' %}">Grades</a>
                    <a class="navbar-brand" href="{% url 'contact.html' %}">Contact</a>
                </nav>
            </header>
            
            <h1 class="page-describer">
                Where do you desire to go?
            </h1>

            <!-- subjects cards being displayed in real time by a python for loop -->
            
            {% for subject in subjects %}

            <div class="jumbotron">
                <h1 class="display-4">{{ subject.subject_name }}</h1>
                <p class="lead">{{ subject.year }} ---> {{ subject.professor_id }}</p>
                <hr class="my-4">
                <p></p>
                <a class="btn btn-primary btn-lg" href="#" role="button">Assign Grades</a>
            </div>

            {% endfor %}
                
            {% bootstrap_javascript jquery='full' %}

        </body>
    </html>
</DOCTYPE3>