{% load bootstrap4 %}
{% load static %}

<DOCTYPE3 html>
    <html lang="pt-br">
        <head>
            <meta charset="UTF-8">
            <title>
                Home Page
            </title>
            {% bootstrap_css %}

            <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">

        </head>
        <body>
            <header>
                <nav id="professors" class="navbar navbar-dark bg-primary">
                    <a class="navbar-brand" href="{% url 'index.html' %}">Home Page</a>
                    <a class="navbar-brand" href="{% url 'enrollments.html' %}">Enrollments</a>
                    <a class="navbar-brand" href="{% url 'registrations.html' %}">Registrations</a>
                    <a class="navbar-brand" href="{% url 'grades-manager.html' %}">Grades</a>
                    <a class="navbar-brand" href="{% url 'contact.html' %}">Contact</a>
                </nav>
            </header>
            
            <h1 class="page-describer">
                Welcome... to GuC 2.0
            </h1>
            <h2 class="page-describer">
                The best scholar administration system in the world
            </h2>

            <div class="body">
                <h1 class="body-title">
                    Subjects
                </h1>
                {% for subject in subjects %}
                <div class="listing">
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-mine">{{ subject.subject_name }} | Year: {{ subject.year }}</li>
                    </ul>
                </div>
                {% endfor %}
            </div>

            <aside class="container">
                <h1 class="aside-page-title">
                    Professors
                </h1>
                {% for professor in professors %}
                <ul class="list-group">
                    <li class="list-group-item list-group-item-mine">{{ professor.first_name }} {{ professor.last_lame }}</li>
                </ul>
                {% endfor %}
            </aside>
            
            <footer>
                <center>
                    <h2>
                        ---- Developed by Gustavo Costa in São Paulo, Brazil ----
                    </h2>
                </center>
            </footer>
            {% bootstrap_javascript jquery='full' %}
        </body>
    </html>
</DOCTYPE3>