{% load bootstrap4 %}
{% load static %}

<DOCTYPE3 html>
    <html lang="pt-br">
        <head>
            <meta charset="UTF-8">
            <title>
                Home Page
            </title>
            {% bootstrap_css %}
            <link rel="stylesheet" href="{% static 'css/style.css' %}">

        </head>
        <body>
            <header>
                <nav id="professors" class="navbar navbar-dark bg-primary">
                    <a class="navbar-brand" href="{% url 'index.html' %}">Home Page</a>
                    <a class="navbar-brand" href="{% url 'enrollments.html' %}">Enrollments</a>
                    <a class="navbar-brand" href="{% url 'registrations.html' %}">Registrations</a>
                    <a class="navbar-brand" href="{% url 'grades-menu.html' %}">Grades</a>
                    <a class="navbar-brand" href="{% url 'contact.html' %}">Contact</a>
                </nav>
            </header>
            
            <h1 class="page-describer">
                Welcome
            </h1>
            <h2 class="page-describer">
                to WEB GSS 2.0 
            </h2>
            {% bootstrap_messages %}
                
            {% bootstrap_javascript jquery='full' %}
        </body>
    </html>
</DOCTYPE3>