{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
    <html lang="pt-br">
        <head>
            <meta charset="UTF-8">
            <title>
                New Guardian
            </title>
            {% bootstrap_css %}

            <link rel="stylesheet" href="{% static 'css/style.css' %}">

        </head>
        <body>
            <header>
                <nav id="professors" class="navbar navbar-dark bg-primary">
                    <a class="navbar-brand" href="{% url 'index.html' %}">Home Page</a>
                    <a class="navbar-brand" href="{% url 'enrollments.html' %}">Enrollments</a>
                    <a class="navbar-brand" href="{% url 'registrations.html' %}">Registrations</a>
                    <a class="navbar-brand" href="{% url 'grades-menu.html' %}">Grades</a>
                    <a class="navbar-brand" href="{% url 'contact.html' %}">Contact</a>
                </nav>
            </header>
            <h1 class="page-describer">
                New Guardian
            </h1>

            <div class="bootstrap-messages">
                {% bootstrap_messages %}
            </div>
            
            <h2 class="page-describer">
                Fill the form below
            </h2>
            <div class="form-group">
                <form action="{% url 'new-guardian.html' %}" method="POST" class="form" autocomplete="on">

                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {% buttons %}
                    
                    <button type="submit" class="btn btn-primary">
                        Register
                    </button>
                    {% endbuttons %}
                </form>
            </div>           
            {% bootstrap_javascript jquery='full' %}
        </body>
    </html>