{% load bootstrap4 %}
{% load static %}
<DOCTYPE3 html>
    <html lang="pt-br">
        <head>
            <meta charset="UTF-8">
            <title>
                Student-Guardians Enrollments
            </title>
            {% bootstrap_css %}
            <link rel="stylesheet" href="{% static 'css/style.css' %}">

        </head>
        <body>
            <header>
                <nav id="professors" class="navbar navbar-dark bg-primary">
                    <a class="navbar-brand" href="{% url 'index.html' %}">Home Page</a>
                    <a class="navbar-brand" href="{% url 'enrollments.html' %}">Enrollments</a>
                    <a class="navbar-brand" href="{% url 'registrations.html' %}">Registrations</a>
                    <a class="navbar-brand" href="{% url 'grades-manager.html' %}">Grades</a>
                    <a class="navbar-brand" href="{% url 'contact.html' %}">Contact</a>
                </nav>
            </header>
            
            <h1 class="page-describer">
                Student-Guardians Enrollments
            </h1>

            <div class="bootstrap-messages">
                {% bootstrap_messages %}
            </div>

            <h2 class="page-describer">
                Which student go to which class?
            </h2>

            <div class="form-group">
                <form action="{% url 'student-guardian-menu.html' %}" method="POST" class="form" autocomplete="on">

                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {% buttons %}
                    
                    <button type="submit" class="btn btn-primary">
                        Assign
                    </button>
                    {% endbuttons %}
                </form>
            </div>  

            <footer>
                <center>
                    <h2>
                        ---- Developed by Gustavo Costa in São Paulo, Brazil ----
                    </h2>
                </center>
            </footer>         

            {% bootstrap_javascript jquery='full' %}

        </body>
    </html>
</DOCTYPE3>