{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
    <html lang="pt-br">
        <head>
            <meta charset="UTF-8">
            <title>
                Students Board
            </title>
            {% bootstrap_css %}
            <link rel="stylesheet" href="{% static 'css/style.css' %}">

        </head>
        <body>
            <header>
                <nav id="professors" class="navbar navbar-dark bg-primary">
                    <a class="navbar-brand" href="{% url 'index.html' %}">Home Page</a>
                    <a class="navbar-brand" href="{% url 'enrollments.html' %}">Enrollments</a>
                    <a class="navbar-brand" href="{% url 'registrations.html' %}">Registrations</a>
                    <a class="navbar-brand" href="{% url 'grades-manager.html' %}">Grades</a>
                    <a class="navbar-brand" href="{% url 'contact.html' %}">Contact</a>
                </nav>
            </header>
            
            <h1 class="page-describer">
                Students Board
            </h1">

            <h2 class="page-describer">
                Students registered will appear here
            </h2>

            <div class="bootstrap-messages">
                {% bootstrap_messages %}
            </div>
        
            <div class="boards">
                {% for student in students %}
                <ul class="list-group">
                    <li class="list-group-item list-group-item-mine">{{ student.first_name }} {{ student.last_name }} - {{ student.age}} anos</li>
                </ul>
                {% endfor %}
            </div>

            {% bootstrap_javascript jquery='full' %}
        </body>
    </html>