@charset "UTF-8";

div#cards {
    width: 90%;
    margin-left: 9%;
    margin-right: 7%;
    margin-top: 15px;
}

div#cards div#each-card {
    margin: 15px;
}

h1.page-describer {
    margin-right: 5%;
    margin-top: 1%;
    margin-left: 5%;
    padding: 9px;
    border-bottom: 1px solid black;
}

h2.page-describer {
    margin-left: 5.5%;
    margin-bottom: 2%;
}

div.form-group {
    display: block;
    width: 94%;
    margin-left: auto;
    margin-right: auto;
}

div.bootstrap-messages {
    width: 93%;
    margin-left: auto;
    margin-right: auto;
}

div.subject_shower {
    display: grid;
    width: 88%;
    margin-left: auto;
    margin-right: auto;
}

div.subject_shower div.card-columns {
    box-shadow: 3px 2px black;
    border: 1px solid black;
    padding: 5px;
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
}

div.subject_shower div.card-columns p.card-text {
    width: 230%;
    margin-top: 10px;
}

a {
    text-decoration: none;
    color: black;
}
